@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, body {
    overflow: hidden !important;
    margin: 0px;
    height: 100%;
    max-width: 100%;
    transition: ease-in-out;
    transition-duration: 2s;
}

div {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 3px 3px black;
}

#back-san {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#video-san {
background-color: black;
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    filter: brightness(32%);
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden; 
    animation: load_video 15s forwards;
}

#blocks {
    margin-top: 20px;
    max-width: 100%;
    max-height: 95%;
}

#image {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: transform .2s;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.432);
    background-clip: content-box;
    padding: 1px;
    animation: load_in 4s forwards;
}

#image img:hover {
    transform: scale(1.10098);
}

#text {
    justify-content: center;
    display: block;
    padding-bottom: 30px;
    width: 100%;
    height: 100px;
    animation: load_up2 2s forwards;
}

#box-pre {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
}

#box-self {
    display: block;
    background-color: rgba(3, 7, 12, 0.89);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    border: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    animation: load_up 2s forwards;
}

#foot {
    position: fixed;
    bottom: -12px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

#foot h1 {
    font-size: 23px;
    animation: load_in 6s forwards;
}

#column {
    text-decoration: none;
    text-align: center !important;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 29px;
    animation: colorRotate 6s linear 0s infinite;
}

/* Animations */

@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }

    16.6% {
        color: rgb(255, 0, 255);
    }

    33.3% {
        color: rgb(0, 0, 255);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    66.6% {
        color: rgb(0, 255, 0);
    }

    83.3% {
        color: rgb(255, 255, 0);
    }

    to {
        color: rgb(255, 0, 0);
    }
}

@keyframes load_up2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes load_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }

}

@keyframes load_up {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes load_video {
    from {
        filter: brightness(0%);
    }
    100% {
        filter: brightness(0%);
    }
    0.1% {
        filter: brightness(0%);
    }
    to {
        filter: brightness(32%);
    }

}